@page
@model RegisterPatientModel


<h1>@ViewData["Title"]</h1>
<div class="card shadow border-0 mt-4 mb-8">
    <div class="card-header bg-primary bg-gradient ml-0 py-4 ">
        <div class="row">
            <div class="col-12 text-center  ">
                <h2 class="py-2 text-white">Register</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 mb-0">
        <div class="row pt-3">
            <div class="col-md-12">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h3 class="text-center border-bottom pb-3 mb-4 text-secondary">Create a new account.</h3>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3 ">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label class="text-muted" asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label class="text-muted ms-2" asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label class="text-muted ms-2" asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.FirstName" class="form-control" placeholder="FirstName" />
                            <label class="text-muted ms-2" asp-for="Input.FirstName">FirstName</label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.LastName" class="form-control" placeholder="LastName" />
                            <label class="text-muted ms-2" asp-for="Input.LastName">LastName</label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.City" class="form-control" placeholder="City" />
                            <label class="text-muted ms-2" asp-for="Input.City">City</label>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.StreetName" class="form-control" placeholder="StreetName" />
                            <label class="text-muted ms-2" asp-for="Input.StreetName">StreetName</label>
                            <span asp-validation-for="Input.StreetName" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3 col-md-6">
                                <input asp-for="Input.Government" class="form-control" placeholder="Government" />
                                <label class="text-muted ms-2" asp-for="Input.Government">Government</label>
                                <span asp-validation-for="Input.Government" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3 col-md-6">
                                <input asp-for="Input.NationalId" class="form-control" placeholder="NationalId" />
                                <label class="text-muted ms-2" asp-for="Input.NationalId">NationalId</label>
                                <span asp-validation-for="Input.NationalId" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mb-3 col-md-6">
                                    <input asp-for="Input.BuildingNum" class="form-control" placeholder="BuildingNum" />
                                    <label class="text-muted ms-2" asp-for="Input.BuildingNum">Building Number</label>
                                    <span asp-validation-for="Input.BuildingNum" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3 col-md-6">
                                    <input asp-for="Input.Floor" class="form-control" placeholder="Floor" />
                                    <label class="text-muted ms-2" asp-for="Input.Floor">Floor</label>
                                    <span asp-validation-for="Input.Floor" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 bg-primary bg-gradient ">
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg text-white ">Register</button>
                            </div>
                        
                </form>
            </div>
            <div class="col-md-12 col-md-offset-2 pb-3 ">
                <section>
                    <p class="divider d-flex mt-2">or</p>
                    <h3>Use another service to register.</h3>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div class="mb-0">
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div class="mb-0">
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
