@model IEnumerable<Clinical_Management_System.Models.DB_Entities.Clinic>

@{
    ViewData["Title"] = "Index";
}

<h1>Clinic List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Open Time</th>
            <th>Close Time</th>
            <th>City</th>
            <th>Building Number</th>
            <th>Street Name</th>
            <th>Government</th>
            <th>Floor</th>
            <th>Doctor</th>
            <th>Appointments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clinic in Model)
        {
            <tr>
                <td>@clinic.OpenTime</td>
                <td>@clinic.CloseTime</td>
                <td>@clinic.City</td>
                <td>@clinic.BuildingNum</td>
                <td>@clinic.StreetName</td>
                <td>@clinic.Government</td>
                <td>@clinic.Floor</td>
                <td>@clinic.Doctor.FirstName @clinic.Doctor.LastName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@clinic.ClinicId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@clinic.ClinicId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@clinic.ClinicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
