@model IEnumerable<Clinical_Management_System.Models.DB_Entities.Clinic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                OpenTime
            </th>
            <th>
                CloseTime
            </th>
            <th>
                City
            </th>
            <th>
                BuildingNum
            </th>
            <th>
                StreetName
            </th>
            <th>
                Government
            </th>
            <th>
                Floor
            </th>
            <th>
                Doctor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OpenTime
                </td>
                <td>
                    @item.CloseTime
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.BuildingNum
                </td>
                <td>
                    @item.StreetName
                </td>
                <td>
                    @item.Government
                </td>
                <td>
                    @item.Floor
                </td>
                <td>
                    @item.Doctor.FirstName @item.Doctor.LastName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClinicId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClinicId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClinicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
