@model IEnumerable<Appointment>

<h2>Appointments</h2>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Reason</th>
            @if (User.IsInRole(Sd.Role_Patient))
            {

                <th>Doctor</th>
            }
            <th>Specialization</th>
            @if (User.IsInRole(Sd.Role_Doctor))
            { 

                    <th>Patient</th>
            }
                <th>Status</th>
                <th>Notes</th>
                <th>Appointment Date</th>
                <th>Actions</th>

            </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Type</td>
                <td>@appointment.Reason</td>
                @if (User.IsInRole(Sd.Role_Patient))
                {

                    <td>@appointment.Doctor?.FirstName @appointment.Doctor?.LastName</td>
                    <td>@appointment.Doctor?.Specialization.SpecializationName</td>
                }
                @if (User.IsInRole(Sd.Role_Doctor))
                {
                    <td>@appointment.Patient?.FirstName @appointment.Patient?.LastName</td>
                }
                <td>@appointment.Status</td>
                <td>@appointment.Notes</td>
                <td>@appointment.Schedule?.AvailableDateTime.ToString()</td>
                <td>
                    @if (User.IsInRole(Sd.Role_Patient))
                    {
                        @if (appointment.Status == "Pending")
                        {
                            <form asp-action="CancelAppointment" method="post">
                                <input type="hidden" name="id" value="@appointment.AppointementId" />
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </form>
                        }
                    }
                    @if (User.IsInRole(Sd.Role_Doctor))
                    {
                        <a asp-action="UpdateAppointment" asp-route-id="@appointment.AppointementId" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@appointment.AppointementId" class="btn btn-primary">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole(Sd.Role_Patient))
{
    <a asp-controller="Appointments" asp-action="Create" class="btn btn-primary">Register Appointment</a>
}
