@model IEnumerable<Appointment>

<h2>Appointments</h2>
@foreach (var appointment in Model)
{
    <div class="card-container">
        <div class="card">

            <div class="card-header">
                <img src="assets/3953847.jpg" alt="Search">

            </div>

            <div class="card-content">
                <ul>
                    @if (User.IsInRole(Sd.Role_Patient))
                    {

                        <li style="text-align: center;">@appointment.Doctor?.FirstName @appointment.Doctor?.LastName</li>
                        <li style="text-align: center;">@appointment.Doctor?.Specialization.SpecializationName</li>
                    }
                    @if (User.IsInRole(Sd.Role_Doctor))
                    {
                        <li style="text-align: center;">@appointment.Patient?.FirstName @appointment.Patient?.LastName</li>
                    }
                    <li>@appointment.Type</li>
                    <li>@appointment.Reason</li>

                    <li>@appointment.Status</li>
                    <li>@appointment.Notes</li>
                    <li>@appointment.Schedule?.AvailableDateTime.ToString()</li>
                    @if (User.IsInRole(Sd.Role_Patient))
                    {
                        @if (appointment.Status == "Pending")
                        {
                            <button class="btn btn-danger" onclick="confirmCancel(@appointment.AppointementId)">Cancel</button>
                        }
                    }
                    @if (User.IsInRole(Sd.Role_Doctor))
                    {
                        <a asp-action="UpdateAppointment" asp-route-id="@appointment.AppointementId" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@appointment.AppointementId" class="btn btn-primary">Delete</a>

                    }
                </ul>
            </div>
        </div>
    </div>
}
<style>

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 500px;
        height: 400px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 1px 2px 5px rgba(0.2, 0.2, 0.2, 0.1);
        margin-bottom: 20px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 30px;
        background-color: #f0f0f0;
        border-bottom: 0px solid   #ccc;
        background-image: url(assets/3953847.jpg); /* Replace with your image path */
        background-size: cover;
        background-position: center;
        height: 250px; /* Adjust height to fit your image */
    }

        .card-header img {
            display: none; /* Hide the actual image element */
        }

    .card-content {
        padding: 10px;
    }

        .card-content ul {
            list-style: none;
            padding: 0;
        }
</style>
@if (User.IsInRole(Sd.Role_Patient))
{
    <a asp-controller="Appointments" asp-action="Create" class="btn btn-primary">Register Appointment</a>
}
@section Scripts {
    <script>
        function confirmCancel(appointmentId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to cancel this appointment?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, cancel it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, redirect to the CancelAppointment action
                    window.location.href = '/Appointments/CancelAppointment/' + appointmentId;
                }
            });
        }
    </script>
}