@model IEnumerable<Clinical_Management_System.Models.DB_Entities.Allergy>

@{
    ViewData["Title"] = "Allergy Index";
}

<h1>Allergies</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Allergy</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Allergy Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PatientId" class="btn btn-secondary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.PatientId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.PatientId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
